{% extends 'base.html' %}

{% block extend_head %}
<link rel="stylesheet" type="text/css" href="/static/css/registration.css" title="default" />
<script>
function check_passwords_equal() {
    var pass = document.getElementById("password_input").value;
    var pass2 = document.getElementById("password_repeat_input").value;
    var error_msg = document.getElementById("password_repeat_error");

    if (pass2 == "" || pass == pass2) {
        error_msg.innerHTML = "";
    }
    else {
        error_msg.innerHTML = "{{ T('error:passwords_do_not_match') }}";
    }
    reset_errors_visibility();
}

function check_user_occupied() {
    var http_request = new XMLHttpRequest();
    try{
       // Opera 8.0+, Firefox, Chrome, Safari
       http_request = new XMLHttpRequest();
    }
    catch (e){
       // Internet Explorer Browsers
       try{
         http_request = new ActiveXObject("Msxml2.XMLHTTP");
       }
       catch (e) {
         try{
            http_request = new ActiveXObject("Microsoft.XMLHTTP");
         }
         catch (e){
            // Something went wrong
            alert("Your browser broke!");
            return false;
         }
       }
    }
    http_request.onreadystatechange  = function(){
        if (http_request.readyState == 4){
            var jsonObj = JSON.parse(http_request.responseText);
            var login_error = document.getElementById("login_error");

            if (jsonObj.occupied) {
                login_error.innerHTML = "{{ T('error:validation:login.occupied') }}";
            }
            else {
                login_error.innerHTML = "";
            }
            reset_errors_visibility();
        }
    };
    var data = new FormData();
    var login = document.getElementById("login_input").value;
    data.append("login", login);

    http_request.open("POST", "{{ url_for('api.account.login_occupation') }}", true);
    http_request.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    http_request.send(data);

}

function reset_errors_visibility() {
    var central_form_column = document.getElementById("central_form_column");
    var error_msgs = central_form_column.getElementsByClassName("error_msg");

    for (var i=0; i<error_msgs.length; i++) {
        error_msgs[i].style.display = error_msgs[i].innerHTML == ""? "none": "inline-block" ;
    }
}

</script>
{% endblock %}

{% block content %}
{% if errors %}
    Error!
{% endif %}

<form class="register_form" action="." method="POST">
    <h3>Account Registration:</h3>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div id="central_form_column">
        <p>Login</p>
        <span id="login_error" class="error_msg">{% if 'login' in errors %}{{ T(errors['login']) }}{% endif %}</span>
        <input id="login_input"
               type="text"
               name="login"
               value="{{ login }}"
               onchange="check_user_occupied();"/>

        <p>Password</p>
        <span class="error_msg">{% if 'password' in errors %}{{ T(errors['password']) }}{% endif %}</span>
        <input id="password_input" type="text" name="password" onchange="check_passwords_equal();"/>

        <p>Repeat password:</p>
        <span id="password_repeat_error" class="error_msg"></span>
        <input id="password_repeat_input" type="text" onchange="check_passwords_equal();"/>

        <p>E-mail</p>
        <span class="error_msg">{% if 'email' in errors %}{{ T(errors['email']) }}{% endif %}</span>
        <input type="text" name="email" value="{{ email }}"/>

        <p>Nickname</p>
        <input type="text" name="display_name" value="{{ display_name }}"/>
    </div>
    <input class="register_button" type="submit" value="Register!" />
</form>
{% endblock content %}
