
.central_block_top {
    width: 1045px;
    height: 22px;
    background-image: url("/static/images/index/welcome_text_holder_top.png");
}

.central_block {
    width: 1045px;
    background-image: url("/static/images/index/welcome_text_holder_center.png");
    font-size: 20px;
    display: table;
    padding: 5px 0 20px 0;
}

.central_block_bottom {
    margin-bottom: 50px;
    width: 1045px;
    height: 22px;
    background-image: url("/static/images/index/welcome_text_holder_bottom.png");
}

.central_bar_title {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.central_block> .bar_item_left {
    width: 210px;
    float: left;
    margin-left: 50px;
}

.central_block> .bar_item_middle {
    width: 210px;
    float: left;
    margin-left: 157px;
}

.central_block> .bar_item_right {
    width: 210px;
    float: left;
    margin-left: 157px;
}


.title_bar {
    width: 100%;
    height: 350px;
    background: #fff;
    position: absolute;
    left: 0;
    z-index: 900;
    margin-top: 35px;
}

.welcome_image {
    background-image: url("/static/images/index/welcome_picture.png");
    width: 1045px;
    height: 430px;
    z-index: 1000;
    position: relative;
    margin-top: -5px;
}

.text_title {
    display: block;
    height: 50px;
    font-size: 36px;
    text-align: center;
}
