body {
    border:0;
    background:#f1f7ff;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    color: #336;
}

.body_container {
    width: 1000px;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.top_line {
    width: 100%;
    height: 51px;
    z-index: 1000;
}
.top_line_img {
    width: 100%;
    height: 51px;
    background-image: url('/static/images/top_line.png');
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.top_line_holder {
    margin-top: 14px;
}

.header {
  height: 70px;
  padding: 0 0 0 40px;
}

.logo {
    margin: 0 5px 5px 20px;
    float: left;
    width: 200px;
    height: 60px;
    background-image: url('/static/images/logo.png');
    background-size: 100%;
}

.menu {
    height: 70px;
    float: left;
    margin-left: 30px;
    width: 610px;
}

.menu>ul {
    list-style: none;
    height: 80px;
    padding: 0;
    margin: 0;
    float: right;
    width: 100%;
}

.menu>ul>li {
    font-size: 18px;
    font-family: Impact, Charcoal, sans-serif;
    float: left;
    display: list-item;
    padding-left: 10px;
    padding-right: 10px;
    color: #338;
    border-right: 1px solid #bbf;
    border-left: 1px solid #bbf;
    border-collapse: collapse;
    margin-top: 36px;
}

.menu>ul>li:hover {
    color: #337;
    background: #eee;
}

#login_form {
    display: none;
    float: right;
    margin-top: 4px;
    margin-right: 10px;
}

#login_form > input {
    border-color: #ddf;
    border-radius: 5px;
}

#login_form > .login {
    width: 100px;
}

#login_form > .password {
    width: 100px;
}

#login_form > .submit {
    background-color: #EEF1F4;
}

#signin_button {
    display: inline-block;
    background-color: #5facd7;
    width: 90px;
    height: 30px;
    float:right;
    cursor: pointer;
    border-radius: 2px;
}

#signin_button > p {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #eef;
    width: 90px;
    padding-top: 3px;
    text-align: center;
}

.right_container {
    float: right;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.right_container> a {
    display: inline-block;
    margin: 6px 5px 0 8px;
    font-weight: bold;
    color: #eef;
    text-decoration: underline;
}

.right_container> form {
    display: inline-block;
    margin: 6px 5px 0 8px;
}

.logout_button {
    font-weight: bold;
    color: #ccf;
    cursor: pointer;
    text-decoration: none;
}


.settings_button {
    text-decoration: underline;
    color: #eef;
}


.menu_top {
    height: 40px;
    width: 600px;
    float: right;
}

.menu_top>div.lang {
    margin-top: 5px;
}



.footer {
    background: #d5d3d3;
    width: 100%;
    height: 50px;
}

