
.form_line {
    width: 100%;
    height: 50px;
    padding-right: 8px;
    display: block;
}

.form_line> p {
    display: inline-block;
    width: 400px;
    text-align: right;
    font-size: 20px;
    color: #337;
}

.register_form {
    background-color: #fff;
    width: 500px;

    margin: 20px 0 20px 0;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid #C3C7D0;
}

.register_form h3 {
    text-align: center;
}

#central_form_column {
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#central_form_column p{
    margin: 0;
    font-weight: bold;
}

#central_form_column input {
    border-radius: 3px;
    border: 1px solid #C3C7D0;
    margin: 2px 0 15px 0;
    height: 20px;
    width: 100%;
    font-size: 18px;
    color: #337;
    padding-left: 5px;
    display: inline-block;
}

#central_form_column input:focus {
    box-shadow: 0 0 10px rgba(138, 191, 230, 0.7);
    outline: none;
}

#central_form_column span.error_msg {
    color: #e44;
    font-size: 14px;
    position: relative;
    display: none;

    width: 100%;
}

.register_form> .register_button {
    margin: 10px 0 20px 165px;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #C3C7D0;
    background-color: #fff;
    font-size: 18px;
    color: #336;
}
