{% extends 'base.html' %}

{% block extend_head %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" title="default" />
{% endblock %}

{% block content %}
    <div class="title_bar"></div>
    <div class="welcome_image"></div>

    <span class="text_title">Three Simple Steps:</span>

    <div class="central_block_top"></div>
    <div class="central_block">
          <div class="bar_item_left">

            <p class="central_bar_title">Create Your Account</p>

            Praesent eu ante dui. Donec euismod lacus ac sapien congue elementum. Quisque eget commodo nibh. Donec iaculis pretium est vitae tincidunt. Etiam nec tincidunt orci. Aliquam pharetra scelerisque dolor nec semper.
          </div>

          <div class="bar_item_middle">

            <p class="central_bar_title">Choose Achievement</p>

            Nunc vulputate condimentum augue non ultricies. Fusce est nibh, ultricies eget posuere et, ultrices eget quam. Suspendisse ultricies justo et mauris tristique, a elementum dui pretium. Curabitur sed nisi et urna consequat euismod.
          </div>

          <div class="bar_item_right">
            <p class="central_bar_title">Complete Achievement</p>

            Lots of useless text  of useless text here. Los text here. Lots of useless text here. Lots of useless text here. Lots of useless text here. Lots of useless text here. Lots of useless text here. Lots of useless text here. Lots of useless text here.
          </div>
    </div>
    <div class="central_block_bottom"></div>
{% endblock content %}
